* {
  font-family: 'GeistMono Nerd Font Mono';
  font-weight: bold;
  font-size: 14px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: #27272A;
}


.notification-row {
  background: transparent;
  outline: none;
  margin: 20px;
  padding: 0;
}

.notification-row:hover {
  background: transparent;
  outline: none;
  margin: 20px;
  padding: 0;
}

.notification {
  background: #27272A;
  border-radius: 0px;
  margin: 0px;
}

.notification-content {
  background: #27272A;
  padding: 7px;
  border-radius: 0px;
  margin: 0;
}

.close-button {
  background: #FFFFFF;
  color: #27272A;
  text-shadow: none;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #27272A;
  color: #FFFFFF;
  transition: all .15s ease-in-out;
  border: none;
}

.notification-action {
  color: #FFFFFF;
  border-top: none;
  border-radius: 0px;
  background: #27272A;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #FFFFFF;
  background: transparent;
  border: none;
}

.summary {
  padding-top: 7px;
  font-size: 13px;
  color: #FFFFFF;
}

.time {
  font-size: 11px;
  color: #FFFFFF;
  margin-right: 24px;
}

.body {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.7;
}

.control-center {
  background: #27272A;
  border: none;
  border-radius: 0px;
}

.control-center-list {
  background: #27272A;
  opacity: 1;
}

.control-center-list-placeholder {
  opacity: 0;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.0);
}

.widget-title {
  color: #FFFFFF;
  background: #27272A;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 0px;
}

.widget-title>button {
  font-size: 1rem;
  color: #27272A;
  text-shadow: none;
  background: #FFFFFF;
  box-shadow: none;
  border-radius: 0px;
}

.widget-title>button:hover {
  background: #AAAAAA;
  color: #FFFFFF;
}

.widget-dnd {
  background: #27272A;
  padding: 5px 10px;
  margin: 5px 10px 10px 10px;
  border-radius: 0px;
  font-size: large;
  color: #FFFFFF;
}

.widget-dnd>switch {
  border-radius: 0px;
  background: #AAAAAA;
}

.widget-dnd>switch:checked {
  background: #FFFFFF;
  color: #27272A;
}

.widget-dnd>switch slider {
  background: #27272A;
  border-radius: 0px;
}

.widget-dnd>switch:checked slider {
  background: #27272A;
  border-radius: 0px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label>label {
  font-size: 1rem;
  color: #FFFFFF;
}

.control-center .notification-background .control-center .notification-background:hover {
  background: transparent;
}